@font-face{
  font-family: Yummy-Foodies;
  src:url(Font/Yummy-Foodies.ttf);
}

@font-face{
  font-family: Inter-Regular;
  src:url(Font/Inter-Regular.ttf);
}

/* Universal */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


/* Header */

header {
  background-color: #ff2406;
  color: #ffffff;
  font-family: Yummy-Foodies;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#header-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-container {
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 32px;
  position: relative;
}

#menu-btn {
  display: none;
}

nav {
  display: block;
}

nav ul {
  padding: 20px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li a {
  padding: 15px 20px;
  border-radius: 40px;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

nav li a:hover {
  background-color: hsl(7, 100%, 65%);
}

nav li img {
  width: 20px;
  height: 21px; 
  border-radius: 50%;
  vertical-align: bottom;
}

#select-country-text {
  display: none;
}

@media screen and (max-width: 1043px) {

  #header-container {
    display: block;
  }
  
  #logo-container {
    display: block;
    font-size: 28px;
    border-bottom: 1px solid #ffffff;
  }

  nav {
    display: none;    
  }

  #menu-btn {
    display: inline-block;
    position: absolute;
    cursor: pointer;
  }

  #logo {
    width: 160px;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  nav ul {
    padding: 0;
    display: block;
    flex-direction: column;
  }

  nav li a {
    display: block;
    padding-bottom: 0 20px;
    border-radius: 0;
  }

  nav li i {
    font-size: 28px;
    width: 40px;
  }

  nav li img {
    height: 29px;
    width: 29px;
    margin-right: 10px;
    vertical-align: middle;
  }

  #select-country-text {
    display: inline;
  }
}

/* Banner */

#banner {
  height: 550px;
  background-image: linear-gradient(to right, #CD6502, #FFB700);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.35;
  box-shadow: inset 0px 10px 30px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: end;
}

/* Search Box */

#search-box {
  position: absolute;
  top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 6px -3px black;
  border-radius: 15px;
  font-family: Yummy-Foodies, Inter, Ariel, sans-serif;
  height: 250px;
  width: 50%;
  min-width: 500px;
  max-width: 750px;
  padding: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

#search-box h2 {
  font-family: Yummy-Foodies, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #FF2406;
  font-size: 32px;
  margin-bottom: 40px;
}

#search-field {
  display: flex;
  border: 1px solid grey;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

#search-input {
  border: none;
  font-size: 18px;
  margin-left: 2%;
  width: 80%;
}

#search-btn {
  cursor: pointer;
  position: relative;
  color: white;
  font-size: 24px;
  background-color: #FF2406;
  border: none;
  height: 90%;
  padding: 5px 36px;
  margin: 5px;
  border-radius: 15px;
}

#search-btn:hover {
  background-color: #B31500;
}


#search-btn:active {
  top: 5px;
  box-shadow: none;
}

.apps-download {
  display: flex;
  height: 575px;
  box-sizing: border-box;
  margin: 40px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.text-to-move {
  position: relative;
}

.apps-download .text-to-move {
  box-sizing: border-box;
  display: flex;
  width: 632px;
  height: 250px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
}

#iOS-Android {
  margin-right: 92px;
}

.text-to-move #eat {
  padding-bottom: 37px;
}

.text-to-move #instructions {
  font-family: Inter-Regular;
  font-size: 15px;
}

.text-to-move img {
  margin-right: 12px;
  margin-top: 39px;
}

/* .apps-download #instructions */

  .text-to-move #eat {
  font-family: 'Yummy-Foodies', 'Comic Sans MS';
  font-size: 2rem;
  color: #ff2406;
}

.apps-download #playstore-logo {
  border: -3px solid white;
  border-radius: 15px;
}


@media screen {
  @media (max-width: 1043px) {
    #iOS-Android {
      visibility: hidden;
    }

    .apps-download {
      height: 425px;
      margin-top: 150px;
    }

    .apps-download .text-to-move {
      top: -250px;
    }

    .text-to-move p {
      text-align: center;
    }
  }

/* External Link Section */

#link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceaea;
}

.links {
  width: 845px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  height: 423px;
  align-items: center;
  font-family: Inter-Regular;
  overflow: hidden;
}

.links > ul > li{
  font-family: Inter-Light;
  margin: 15px;
  list-style: none;
}

.links > ul > li > a{
font-size: 16px;
}

.links > ul{
  display: flex;
  flex-direction: column;
  max-height: 291px;
  padding: 0;
}

.list-head{
  font-family: Inter-Medium;
  font-size: 24px;
  /* padding-left: 50px; */
}
/* External Link Section  End*/

/* Footer */

.links ul li  {
  font-family: Inter-Regular;
}

#pay-container{
  display: flex;
  /* send payment icons to the right */
  justify-content: flex-end;
  max-height: 143px;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #C2C2C2;
}

#pay-container figure img {
  width: 321px;
  height: 67px;
}

#payment-icons{
  background-color: #C2C2C2;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  list-style: none;
  font-size: 25px;
  width: 100%;
  height: 143px;
  
}

.grey-back {
  background-color: #C2C2C2;
}

/* Footer End */