@font-face{
  font-family: Yummy-Foodies;
  src:url(Font/Yummy-Foodies.ttf);
}

@font-face{
  font-family: Inter-Regular;
  src:url(Font/Inter-Regular.ttf);
}

/* Universal */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Header */

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff2406;
  color: #ffffff;
  padding: 0 2rem;
  font-family: 'Yummy-Foodies', 'Comic Sans MS';
}

#title {
  font-size: 1.5rem;
}

nav {
  width: 375px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav li {
  display: flex;
  align-items: center;
}

nav li img {
  width: 1.4375rem;
  height: 1.4375rem;
  border-radius: 50%;
}

.apps-download {
  display: flex;
  height: 645px;
  box-sizing: border-box;
  margin: 40px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.text-to-move {
  position: relative;
}

.apps-download .text-to-move {
  box-sizing: border-box;
  display: flex;
  width: 632px;
  height: 250px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
}

#iOS-Android {
  margin-right: 92px;
}

.text-to-move #eat {
  padding-bottom: 37px;
}

.text-to-move #instructions {
  font-family: Inter-Regular;
  font-size: 15px;
}

.text-to-move img {
  margin-right: 12px;
  margin-top: 39px;
}
/* .apps-download #instructions */

  .text-to-move #eat {
  font-family: 'Yummy-Foodies', 'Comic Sans MS';
  font-size: 2rem;
  color: #ff2406;
}

.apps-download #playstore-logo {
  border: -3px solid white;
  border-radius: 15px;
}


/* Banner */

#banner {
  height: 30.875rem;
  background-image: url('./Assets/SMLXL/S.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.35;
}

@media only screen {
  @media (min-width: 720px) {
    #banner {
      background-image: url('./Assets/SMLXL/M.jpg');
    }
  }  

  @media (min-width: 1140px) {
    #banner {
      background-image: url('./Assets/SMLXL/L.jpg');
    }
  }

  @media (min-width: 1920px) {
    #banner {
      background-image: url('./Assets/SMLXL/XL.jpg');
    }
  }  
}
